<head>
    <title>mcpe.me | {{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="f52QQqBsInrPHbf8mziPhaTZfHZmyL5C_tYXpegh3aU" />
    <meta name="keywords" content="udid, profile, server, iOS, data, start, device, falkirks, imei, serial, provide, take, take few, few seconds, mobileconfig, device, challenge, grabber,">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Super awesome hostnames for your MCPE server!">
    <meta name="author" content="Falkirks">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/alertify.min.css">
    <link rel="stylesheet" href="/default.min.css">
    <link href="/main.css" rel="stylesheet" media="screen">
</head>